<!html>
   <body>
     <% if @computer_throw == @player_throw %> 
       <p font-weight="bold">"You tied with the computer. Try again!"</p>
     <% elsif @computer_throw == @defeat[@player_throw] %> 
       <p font-weight="bold">"You win! <%= @player_throw.capitalize %> beats <%= @computer_throw%>"</p>
     <% else %> 
       <p font-weight="bold">"Ouch! <%= @computer_throw.capitalize %> beats <%= @player_throw%>!"
     <% end %>
    
  
    <form action="/home" method="post">
      <input type="text"  name="throw">
      <input type="submit" value="Throw">
    </form>
  </body>
</html>
